
.carousel-inner { 
    overflow: visible; 
}
.carousel-control {
    width: 30%;
    margin-top: 150px;
}
.slick-prev:before,
.slick-next:before {
  color: black !important;
}


.content {
    margin: 0 auto;
    width: 80%;
    height: 80%;

}
.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}
.slider img{
    object-fit: contain;

}


.line {
    border-bottom: 1px solid #343a40;
    margin: 0 auto;
        width: 90%;
}
.title1{
    text-align: center;
    color: #343a40;

}
.first-text{
    margin: 0 auto;
    text-align: center;

        color: #343a40;
    width: 80%;
}

.navbar-brand{
    margin-left: 40px;
}
.navbar-toggler{
    margin-right: 40px;
}
.navbar-collapse{
    margin-left: 20px;
}
.navbar-brand img {
    width: 200px !important;
    height: 40px !important;
  }
  .nav-link{
    color: #343a40!important;
    font-size: 20px !important;
}

@media all and (max-width: 1183px) and (min-width: 768px) {

    .content {
        width: 80%;
        height: 50%;
    
    }

}



@media all and (max-width: 768px) {

    .content {
        width: 85%;
        height: 24%;
    
    }

}


@media all and (max-width: 1411px) {

    .first-text{
        width: 100%;
    }
    .carousel-control-next,
.carousel-control-prev {
width: 25px !important;
}
}

